:root {
    --primary-color: #e3901b;
    --secondary-color: #212429;
    --gradient-color: #2e2e2e;
    --gradient-1: linear-gradient(to bottom, var(--gradient-color), #1d2127);
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1d2127;
    color: var(--text-light);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

input, select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: var(--text-light);
    color: #333;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--text-light);
    color: var(--secondary-color);
}

.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

.result {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--gradient-1);
    text-align: center;
}

.result p {
    margin-bottom: 1rem;
    color: var(--white);
}

.whatsapp-button {
    background-color: #25d366;
    color: var(--white);
    font-weight: 700;
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: inline-block;
    cursor: pointer;
}

.whatsapp-button:hover {
    background-color: #1ebf57;
}